<form asp-controller="Home" asp-action="AddPhoneBook" method="post">
    <div class="navbar-brand">
        <label>Фамилия</label><br />
        <input class="form-control" name="SecondName"/>
    </div>
    <div class="navbar-brand">
        <label>Имя</label><br />
        <input class="form-control" name="FirstName" />
    </div>
    <div class="navbar-brand">
        <label>Отчество</label><br />
        <input class="form-control" name="FatherName" />
    </div>
    <div class="navbar-brand">
        <label>Телефонный номер</label><br />
        <input class="form-control" name="PhoneNumber" />
    </div>
    <div class="navbar-brand">
        <label>Адрес</label><br />
        <input class="form-control" name="Address" />
    </div>
    <div class="navbar-brand">
        <label>Описание</label><br />
        <input class="form-control" name="Description" />
    </div>
    <input class="btn btn-sm btn-danger" type="submit" value="Добавить"/>
</form>