<div class="form-row text-center">
    @if ((User.Identity.IsAuthenticated && User.IsInRole("admin")))
    {
        <header class="bg-dark text-white rounded-bottom p-4">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <a asp-controller="Home" asp-action="Index">@User.Identity.Name</a>
                <a class="btn btn-primary btn-sm btn-block" asp-controller="Users" asp-action="Index">Пользователи</a>
                <input class="btn btn-sm btn-danger" type="submit" value="Выход" />
            </form>
        </header>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <header class="bg-dark text-white rounded-bottom p-4 ">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <a asp-controller="Home" asp-action="Index">@User.Identity.Name</a>
                <input class="btn btn-sm btn-danger" type="submit" value="Выход" />
            </form>
        </header>
    }
    else
    {
        <header class="bg-dark text-white rounded-bottom p-4">
            <a asp-controller="Account" asp-action="Login">Вход</a>
            <a asp-controller="Account" asp-action="Register">Регистрация</a>
        </header>
    }
</div>

@{
    Layout = "_Layout";
}
